.nav {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav a {
  color: aliceblue;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(100, 120, 140, 0.5);
  text-decoration: none;
}
