#formulario {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(180, 175, 175);
}

.campos {
  display: grid;
  margin: 20px;
}

.campos label {
  margin-right: 20px;
}

#erroresPassword {
  color: red;
  margin-top: -30px;
}

#erroresEmail {
  color: red;
  margin-top: -30px;
}

#registrarse {
  display: flex;
  justify-content: center;
  width: 30%;
  color: black;
  margin: 20px 0 20px 0;
}

.error {
  background-color: rgba(250, 0, 0, 0.2);
}

.correct {
  background-color: rgba(0, 250, 0, 0.3);
}
